body , html {
 height:100%;
 margin:0;
 font-size:16px;
 font-family:sans-serif;
 font-weight:400;
 line-height:1.8em;
 color:#666;
 background-color: #282e34;
}
.img1,.img2,.img3{
    position: relative;
    opacity: 0.70;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;

}
.img1{
    background-image: url('City.jpg');
    min-height: 500px;
}

.img2{
    background-image: url('Flower.jpg');
    min-height: 500px;
}

.img3{
    background-image: url('Mount.jpg');
    min-height: 500px;
}
div,h1{
    text-align: center;
}
p{
    text-align: center;
    padding: 50px 80px;
}

.dark{
    background-color:#282e34 ;
    color: #ddd;
}
.imgtext{
    position: absolute;
    top: 50%;
    width: 100%;
    text-align: center;
    color: black;
    font-size: 27px;
    letter-spacing: 8px;
    text-transform: uppercase;
}
.border{
  background-color: #111;
  color: #fff;
  padding: 10px;
  text-align: center;
}
section{
    margin: 0;
}